@font-face {
    font-family: 'Pokemon';
    src: url('./assets/pokemon-font.ttf')  format('truetype');
}

body {
    font-family: 'Pokemon', -apple-system, Helvetica, sans-serif;
    width: 100vw;
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

h1 {
    margin: 10px 0 5px;
}

h1, nav, footer, .pokemon-tile {
    text-align: center;
}

h2 {
    font-size: 17px;
    line-height: 1.3;
}

header {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 0 20px;
    position:sticky;
    top: 0;
}

footer {
    padding: 25px 0;
}

.pokedex-heading a {
    text-decoration: none;
}

.pokedex-heading a:visited {
    color: black;  
}

.filter-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.typefilter, .searchbox, .numberbox, .search-button, .reset-button {
    font-family: 'Pokemon', -apple-system, Helvetica, sans-serif;
    border: 2px solid black;
    background-color: white;
    background-repeat: no-repeat;
    height: 40px;
    box-sizing: border-box;
    background-position: 5%;
    margin-bottom: 5px;
    border-radius: 5px;
}

.searchbox:focus, .typefilter:focus, .numberbox:focus, .search-button:focus {
    outline:0;
}

.numberbox {
    background-image: url("./assets/number.svg");
    background-size: 20px;
    padding-left:25px;
    margin-right: 5px;
    width:135px;
    text-indent: 15px;
    line-height: 4;
    position: relative;
}

.typefilter {
    background-image: url("./assets/drop-down-arrow.svg");
    font-family: 'Pokemon';
    font-size: 10px;
    padding:10px;
    width: 150px;
    text-indent: 25px;
    -o-appearance: none;
   -ms-appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.searchbox {
    background-image: url("./assets/search.svg");
    background-size: 20px;
    padding-left:25px;
    margin-right: 5px;
    border-radius: 5px;
    text-indent: 15px;
    line-height: 4;
    position: relative;
    width: 200px;
}

.search-button {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.searchbox::-webkit-search-cancel-button{
    position: absolute;
    right: 15px;
}

.pokemon-list {
    display: grid;
    grid-gap: 10px;
    margin: 25px 25px 35px;
    padding: 0;
}

.pokemon-tile {
    list-style-type: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 5px 5px #ccc;
    transition: all .2s ease-in-out;
}

.pokemon-tile:hover {
    transform: scale(1.03);
}

.pokemon-tile a {
    color: black;
}

.pokemon-img {
    width: 50%;
}

.pagination {
    margin: 20px 20px;
}

button.previous-page, button.next-page {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.right-arrow, .left-arrow {
    height: 12px;
}

.right-arrow {
    margin-left: 8px;
}

.left-arrow {
    margin-right: 8px;
    transform: scaleX(-1);
}

@media (min-width: 600px) {
    h1 {
        background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(134,99,0,1) 25%, rgba(0,106,7,1) 50%, rgba(0,22,255,1) 75%, rgba(158,0,255,1) 100%);
        color: white;
        margin: 0 0 5px;
    }

    .pokedex-heading a {
        color:white;
    }

    .pokedex-heading a:visited {
        color:white;
    }

    header {
        background: url('./assets/pokemon-array.png') no-repeat;
        background-size: cover;
        padding: 25px;
    }

    .filter-nav {
        flex-direction: row;
        align-items: unset;
    }

    .pokemon-list {
        grid-template-columns: 1fr 1fr;
        
    }
}

@media (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .pokemon-list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        
    }
}

@media (min-width: 1024px) {

    header {
        flex-direction: row;
    }

    .pagination {
        text-align: right;
    }
    
    .pokemon-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        
    }
}